name: CI
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Usamos esta acción que es más estable y no da el error de 'user'
      - name: Build with Buildozer
        uses: HeaTTheatR/Buildozer-action@v1.2
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # Subir el artefacto (APK)
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
          if-no-files-found: error
